body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #F5F5F5;
   background-image: none;
   box-sizing: border-box;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_computadora 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_computadora div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape4
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Shape6
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape5
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape7
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape8
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape9
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape9
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape10
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape11
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape11
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape12
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape13
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape13
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape14
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape14
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape15
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape15
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape16
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape16
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape17
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape17
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape18
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape18
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape19
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape19
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape20
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape20
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape21
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape21
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape22
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape22
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape23
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape23
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape24
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape24
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image11
{
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape25
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape25
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape26
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape26
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape27
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape27
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape28
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape28
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape29
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape29
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape30
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape30
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape31
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape31
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape32
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape32
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image15
{
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image16
{
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Shape33
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape33
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape34
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape34
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape35
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape35
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape36
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape36
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape37
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape37
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape38
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape38
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape39
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape39
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape40
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape40
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image19
{
   vertical-align: top;
}
#Image19
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image20
{
   vertical-align: top;
}
#Image20
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image21
{
   vertical-align: top;
}
#Image21
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image22
{
   vertical-align: top;
}
#Image22
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
    .highlight {
        color: #000000; /* Color original */
        font-family: Arial;
        font-size: 16px;
        transition: color 0.3s; /* Efecto de transici贸n */
    }
    
    .highlight:hover {
        color: #FFA500; /* Color al pasar el puntero */
    }
    .highlight {
        color: #000000; /* Color original */
        font-family: Arial;
        font-size: 16px;
        transition: color 0.3s; /* Efecto de transici贸n */
    }
    
    .highlight:hover {
        color: #FFA500; /* Color al pasar el puntero */
    }
    .highlight {
        color: #000000; /* Color original */
        font-family: Arial;
        font-size: 16px;
        transition: color 0.3s; /* Efecto de transici贸n */
    }
    
    .highlight:hover {
        color: #FFA500; /* Color al pasar el puntero */
    }
    .highlight {
        color: #000000; /* Color original */
        font-family: Arial;
        font-size: 16px;
        transition: color 0.3s; /* Efecto de transici贸n */
    }
    
    .highlight:hover {
        color: #FFA500; /* Color al pasar el puntero */
    }
